<%- include("header") -%>

<h1 style="text-align: center;">Welcome to my middleware application!</h1>
<h2>You can view or download below files from this server</h2>
<ul style="font-size: 24px; font-weight: bold;">
  <li>JSON file: <a href="/data.json"> <code>data.json</code></a></li>
  <li>PDF file: <a href="/document.pdf"><code>document.pdf</code></a></li>
  <li>JPG file: <a href="/image.jpg"><code>image.jpg</code></a></li>
  <li>MP3 file: <a href="/music.mp3"><code>music.mp3</code></a></li>
  <li>TXT file: <a href="/text.txt"><code>text.txt</code></a></li>
  <li>MP4 file: <a href="/video.mp4"><code>video.mp4</code></a></li>
</ul>
<p>Got Request On <%= now %></p>

<%- include("footer") -%> 
